# Rust build output
/target

# Project data directory
/backend/data

# Node.js dependencies
/node_modules

# Local libraries
/backend/lib

# Header files
/include

# Vendor dependencies
/backend/vendor

# FFI bindings for Clingo
/src/clingo/bindings.rs

# Output CSS
assets/tailwind.css